*{
    
    color: rgb(217,198 ,178);
    font-family: 'Times New Roman', Times, serif;
}
html{
    background-color: black;
}
.name{
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
}
nav{
    display: flex;
    justify-content: space-around;
    font-size: larger;
    overflow-wrap: normal;
  
}

div > a{
    text-decoration: none;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.gitimg  {
    background-color: white;
    width: 20px;
    height: 20px;
}

main{
    background-color: violet;
}
section > h4{
    font-size: large;
    padding-left: 2px;
    border-left: solid 4px blue;
}

.wpara {
    display: inline-block;
   width: 100px;
   font-size: large;

}


section{
    
    background-color: rgb(23,23,23);

    border: solid violet 2px;
    margin: 15px;
    padding-left: 20px;
    padding-right: 30px;
    border-radius: 10px;
    box-shadow: rgb(38,57,77) 5px 20px 30px -5px ;
}

#remote{
    text-align: right;
}
strong{
    font-size: large;
}

footer{
    text-align: center;
    text-decoration: underline;
}